{% extends "base.html" %}

{% block content %}
<br>
    <div class="container-fluid">
        <h1 class="text-center">{{ title }}</h1><br>

         <div class="row justify-content-md-center p-1" >
             <div class="col-md-auto p-1">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="clientdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Student Name
                  </button>
                  <div class="dropdown-menu" aria-labelledby="clientdropdown" id="classname">
                      {%  for c in clients %}
                          <button class="dropdown-item" type="button" onmouseover="getLocation()" onclick="showClient(this)" value="{{ c.id }}">{{ c.first_name }}, {{ c.last_name }}</button>
                      {% endfor %}
                  </div>
                </div> <!-- dropdown -->
             </div> <!-- col -->

             <div class="col-md-auto p-1">
               <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="classdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Class
                  </button>
                   <div class="dropdown-menu" aria-labelledby="classdropdown">
                      {%  for c in gymClasses %}
                          <button class="dropdown-item" type="button" onclick="showClass(this)" value="{{ c.id }}">{{ c.name}} {{ c.startTime }}</button>
                      {% endfor %}
                  </div>
               </div> <!-- dropdown -->
             </div> <!-- col -->
        </div> <!-- row -->

        <div class="row justify-content-md-center" >
           <div class="col-md-auto "></div>
            <div class="col-md-auto ">
                <input class="btn btn-primary btn-lg" type="button" value="Submit"  onclick="clickSubmit(this.form)" onmouseover="getLocation()" >
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

{% endblock content %}